.left_side {
	height: 90vh;
	min-width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-right: 3rem;
}

.buttons {
	display: inline-flex;
	justify-content: space-between;
	flex-direction: column;
	flex-wrap: wrap;

	> button {
		height: 6rem;
		width: 100%;
		border: none;
		border-radius: 0.25rem;
		background-color: var(--black_square);
		margin-bottom: 2rem;
		padding: 0px 1rem;
		display: flex;
		align-items: center;

		> svg {
			height: 4rem;
			width: 4rem;
		}

		>span {
			font-size: 2rem;
			text-transform: uppercase;
			margin-left: 2rem;
		}

	}
}

.players {
	display: flex;
	justify-content: space-between;
	flex-direction: column;

	> div:nth-child(1) {
		margin-bottom: 2rem;
	}
}

.playerData {
	font-family: monospace;
	height: 10rem;
	border-radius: 0.5rem;
	background-color: var(--black_square);
	display: flex;
	justify-content: flex-start;
	box-sizing: border-box;
	padding: 0 1rem;
	align-items: center;
	flex-direction: row;
	box-sizing: content-box;

	> .icon {
		height: 40%;
		> svg {
			height: 100%;
			width: 5rem;
		}

		> svg.a {
			display: none;
		}
	}
	
	> .player_info {
		height: 40%rem;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		
		> h1 {
			font-weight: bold;
			font-size: 2rem;
		}
		
		> p {
			font-size: 1.5rem;
		}
	}

}

.turn {
	border: 6px solid var(--player_turn_indicator);
	box-shadow: 0px 0px 8px 4px rgba($color: var(--player_turn_indicator), $alpha: 1.0);
}	

.a {
	> .icon {
		>svg > path {
			fill: var(--pieces_a);
		}
	}
}
.b {
	> .icon {
		>svg > path {
			fill: var(--pieces_b);
		}
	}
}

.removed_pieces {
	height: 10rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;

	> div {
		height: 4rem;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}