.button_group {
    display: flex;
    overflow: hidden;
    border-radius: 4px;
    float : right;
    justify-self: baseline;
    align-self: flex-end;
}

.control_button {
    height: 2rem;
    width: 2rem;
    font-size: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border: 1px solid #c4c4c4;
    background-color: #c4c4c4;
    transition: all 0.3s;
}

.control_button:nth-child(2) > svg {
    transform: rotate(180deg);
}

.control_button:hover {
    background-color: #a79e9e;
}

.control_button:disabled:hover {
    background-color: #c4c4c4;
}

@media (min-width : 750px) and (min-height : 1000px ) {
    .control_button {
        height: 5rem;
        width: 5rem;
    }
}

