.control_button {
    height: 30px;
    width: 30px;
    background-color: brown;
    color: white;
    outline: none;
    margin: 8px 4px;
    border: none;
    border-radius: 4px;
}

.control_button:disabled {
    opacity: 0.5;
}