.App {
	height: 100vh;
	width: 100vw;
	background-color: var(--background);
	margin: 0;
	padding: 0%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: all 200ms;
	padding-top: 1rem;
	overflow: none;

	
	> div {
		max-width: 90vw;
		min-width: 80vw;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		overflow: none;
	}
}

.switch {
	display: none;
	background-color: var(--black_square);
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	border-radius: 0.25rem;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	outline: none;
}

@media screen and (orientation : landscape) {
	.App {
		> div {
			justify-content: center;
			flex-direction: row;
			height: 85vh;
			width: 1000px;
			overflow: hidden;

			> .buttons {
				display: none;
			}
		}
	}
}