.board {
    height: 400px;
    width: 400px;
    cursor: pointer;
    border: 1px solid black;
    box-sizing: border-box;
}

.board > div:nth-child(odd) > button:nth-child(even) {
    background-color: gray;
    outline: none;
    border: none;
}

.board > div:nth-child(even) > button:nth-child(odd) {
    background-color: gray;
    outline: none;
}

.board > div > button {
    color: black;
    border: none;
    
}