
.board {
    height: 40vw;
    width: 40vw;
    cursor: pointer;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    background-image: url('../../assets/images/board/board.PNG');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 4px;
    border: 0px;
}

.board > div > button {
    color: black;
    border: none;
}

@media only screen and (max-width: 800px) {
    .board {
        margin-top: 10px;
        width: 80vw;
        height: 80vw;
        min-height: 200px;
        min-width: 200px;
    }
}
