.large , .removed_piece {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}


.large > img {
    height: 100px;
    margin-top: 10px;
}

.removed_piece {
    height: 40px;
}

.removed_piece > img {
    height: 30px;
    width: 30px;
}

.removed_piece > p , .large > p {
    position: relative;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    border-radius: 40px;
    height: 15px;
    width: 15px;
    right: 15px;
    bottom: -5px;
    font-size:14px;
    color: wheat;
    background-color: brown;
}

.large > img {
    height: 50px;
}

.large > p {
    height: 20px;
    width: 20px;
    font-size: 20px;
    right: 25px;
    bottom: -20px
}