.large {
    height: 100%;
}

.large > img {
    height: 30px;
}

.large > p {
    position: relative;
    height: 14px;
    width: 14px;
    top : -20px;
		left: -4px;
    color: wheat;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color : red
}