.large {
    background-color: #c4c4c4a9;
    width: 20rem;
    height: 100px;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-shrink: 1;
}

.player_name {
    margin-top: 20px;
    display: flex;
    font-size: 20px;
}

.player_piece {
    height: 20px;
    width: 20px;
    background-color: #ff8100;
}

.player_turn {
    height: 20px;
    width: 20px;
    background-color: #68e43a;
    border-radius: 50%;
}

.check_alert {
    background-color: red;
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border-radius: 4px;
}

@media (min-width : 600px) {
    .large {
        margin-bottom: 20px;
    }
}


  @media (min-width : 750px) and (min-height : 1000px ) {
      .large {
          width: 80vw;
          height: 150px;
          margin: 0px;
      }
  }