.game_menu {
    display: flex;
    width: 20rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.large {
    display: none;
}

.button_group {
    display: flex;
    overflow: hidden;
    border-radius: 4px;
    float : right;
    justify-content: space-between;
    align-self: flex-end;
    min-width: 130px;
}

.button {
    height: 2rem;
    width: 2rem;
    font-size: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border: 1px solid #c4c4c4;
    background-color: #c4c4c4;
    border-radius: 4px;
}


@media (min-width : 600px) {
    .game_menu {
        display: none;
    }
    .large {
        display: flex;
    }
}

@media (min-width : 750px) and (min-height : 1000px ) {
    .large {
        display: none !important;
    }
    .game_menu {
        display: flex;
        width: 80vw;
    }
    .button {
        height: 5rem;
        width: 5rem;
    }
}