.box {
    height: 100%;
    width: 12.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    border : none;
}

.available {
    box-sizing: border-box !important;
    border: 1px solid black !important;
}