.App {
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}



.sm {
  display: flex;
}

.lg {
  display: none;
}

@media (min-width : 600px) {
  .App {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .sm {
    display: none;
  }
  .lg {
    display: flex;
  }
}

@media (min-width : 700px) and (min-height : 1000px ) {
  .App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1.3rem;
  }

  .lg {
    display: none;
  }
}
